@font-face
{
	font-family: "Noto Mono";
	src:
		local("Noto Mono"),
		url("/font/NotoMono-Regular.ttf") format("truetype");
}

@font-face
{
	font-family: "Noto Sans";
	src:
		local("Noto Sans"),
		url("/font/NotoSans-Regular.ttf") format("truetype");
}

@font-face
{
	font-family: "Noto Serif";
	src:
		local("Noto Serif"),
		url("/font/NotoSerif-Regular.ttf") format("truetype");
}
