html, body
{
	background-color: var(--bg);
	color: var(--primary);
}

body
{
	align-content: stretch;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

a:active, a:link, a:visited
{
	background-color: inherit;
	color: var(--blue);
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	background-color: inherit;
	color: var(--yellow);
	text-decoration: underline;
}

header
{
	align-self: stretch;
	background-color: var(--hl);
	color: var(--secondary);
	flex: 0 1 auto;
	order: 0;
}

header > h1
{
	display: inline;
	font-size: 2.5em;
	line-height: 1.5em;
	margin: 0;
	padding: 0 5px;
	white-space: nowrap;
}

header > h2
{
	display: inline;
	margin: 0;
	padding: 0 .5em;
	white-space: nowrap;
}

nav
{
	align-self: stretch;
	background-color: var(--hl);
	border-bottom: 1px solid var(--cbg);
	color: var(--primary);
	flex: 0 1 auto;
	order: 1;
}

main
{
	align-self: stretch;
	flex: 1 1 auto;
	order: 2;
	overflow-y: scroll;
	padding: 0 5px;
}

footer
{
	align-self: stretch;
	background-color: var(--hl);
	border-top: 1px solid var(--cbg);
	color: var(--optional);
	flex: 0 1 auto;
	order: 3;
}

footer > p
{
	margin: 0;
	padding: 0;
	text-align: center;
}

footer > ul
{
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer > ul > li
{
	align-self: auto;
	flex: 0 1 auto;
	padding: 0 5px;
}

footer > ul > li+li
{
	border-left: 1px solid var(--optional);
}


/**
 * Swatches.
 */
.swatches > ul
{
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.swatches > ul > li
{
	align-self: auto;
	background-color: var(--hl);
	border: 1px solid var(--cbg);
	color: var(--primary);
	flex: 0 1 20%;
	line-height: 25px;
	margin: 25px;
	min-width: 237px;
	text-align: center;
}


/**
 * Colours.
 */
.blue
{
	background-color: inherit;
	color: var(--blue);
}

.cyan
{
	background-color: inherit;
	color: var(--cyan);
}

.green
{
	background-color: inherit;
	color: var(--green);
}

.magenta
{
	background-color: inherit;
	color: var(--magenta);
}

.orange
{
	background-color: inherit;
	color: var(--orange);
}

.red
{
	background-color: inherit;
	color: var(--red);
}

.violet
{
	background-color: inherit;
	color: var(--violet);
}

.yellow
{
	background-color: inherit;
	color: var(--yellow);
}


/**
 * Transitions.
 */
.bold
{
	font-weight: bold;
}

.italic
{
	font-style: italic;
}

.normal
{
	font-style: normal;
}

.small
{
	font-size: small;
}

.caption
{
	background-color: inherit;
	color: var(--secondary);
	font-size: small;
}

.subdued
{
	background-color: inherit;
	color: var(--secondary);
}

.error
{
	background-color: inherit;
	color: var(--red);
}

.success
{
	background-color: inherit;
	color: var(--green);
}


/**
 * Feature Box.
 */
.featurebox > ul
{
	background-color: var(--hl);
	border: 1px solid var(--cbg);
	color: var(--primary);
	list-style-type: none;
	margin: 0 0 1.5em;
	padding: 15px 20px 20px;
}

.featurebox > ul > li:first-child h3
{
	background-color: var(--hl);
	border-bottom: 1px solid var(--red);
	color: var(--red);
	margin: 0 0 .3em;
}

.featurebox > ul > li > a
{
	font-weight: bold;
}

.featurebox > ul > li:last-child
{
	margin: 0 0 1em;
}


/**
 * Related Content.
 */
.related
{
	margin-top: -1em;
}


/**
 * Pagination.
 */
.pagination > ul
{
	align-content: center;
	align-items: center;
	background-color: var(--hl);
	border: 1px solid var(--cbg);
	color: var(--primary);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	margin: 0 0 1.5em;
	padding: 10px 10px;
}

.pagination > ul > li
{
	align-self: auto;
	flex: 0 1 auto;
}

.pagination > ul > li > a
{
	border: 1px solid var(--cbg);
	margin: 5px;
	padding: 2px 5px;
	text-decoration: none;
}

.pagination > ul > li > a:active, .pagination > ul > li > a:link,
.pagination > ul > li > a:visited
{
	background-color: var(--bg);
	color: var(--blue);
}

.pagination > ul > li > a:hover
{
	background-color: var(--blue);
	color: var(--bg);
}

.pagination > ul > li > span
{
	background-color: var(--bg);
	border: 1px solid var(--cbg);
	color: var(--secondary);
	font-weight: bold;
	margin: 5px;
	padding: 2px 5px;
	text-decoration: none;
}


/**
 * Article List.
 */
article
{
	background-color: var(--hl);
	border: 1px solid var(--cbg);
	color: var(--primary);
	margin: 1.0em 0;
	padding: 15px;
}
	
article > h2
{
	background-color: inherit;
	border-bottom: 1px solid var(--secondary);
	color: var(--primary);
	font-weight: bold;
	margin: 0;
	padding: 0;
}

article > p
{
	padding-left: 5px;
	max-width: 50em;
}

article > ul
{
	background-color: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

article > ul > li
{
	background-color: var(--hl);
	border: none;
	color: var(--primary);
	font-weight: normal;
	line-height: 1.3;
	margin: 0 2em .3em;
}

.postDetails
{
	align-content: flex-start;
	align-items: flex-start;
	border-top: 1px solid var(--secondary);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.postDetails > li
{
	margin: 0;
}

.postDetails > .tag, .postDetails > .date
{
	background-color: inherit;
	border: none;
	color: var(--secondary);
	display: inline;
	margin: 0;
	list-style-type: none;
}


.postDetails > li:last-child
{
	margin-left: auto;
}

.postDetails > .tag > a
{
	background-color: inherit;
	color: var(--blue);
	padding: 0px 5px;
	text-decoration: none;
	white-space: nowrap;
	align-self: flex-start;
	flex: 0 1 auto;
	order: 0;
}

.postDetails > .tag > a:hover
{
	background-color: inherit;
	color: var(--yellow);
	text-decoration: underline;
}

.tagList > ul
{
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tagList > ul > li > a
{
	background-color: inherit;
	color: var(--blue);
	padding: 0px 5px;
	text-decoration: none;
	white-space: nowrap;
	align-self: flex-start;
	flex: 0 1 auto;
	order: 0;
}

.tagList > ul > li > a:hover
{
	background-color: inherit;
	color: var(--yellow);
	text-decoration: underline;
}


/**
 * Tables.
 */
table
{
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

table > thead > tr > th
{
	background-color: var(--hl);
	border-bottom: 2px solid var(--cbg);
	border-left: 1px solid var(--cbg);
	border-right: 1px solid var(--cbg);
	border-top: 2px solid var(--cbg);
	color: var(--primary);
	font-size: 1em;
	font-weight: bold;
	padding: 6px;
	text-align: center;
	width: 20%;
}

table > tbody > tr > td
{
	background-color: var(--bg);
	border: 1px solid var(--cbg);
	color: inherit;
	padding: 3px;
}


/**
 * Calendar.
 */
.calendar
{
	font-size: 0.9em;
	text-align: center;
	width: 200px;
}

.calendar > thead > tr > th
{
	padding: 3px 2px;
	text-align: center;
}

.calendar > tbody > tr > th
{
	padding: 2px;
	text-align: center;
}

.calendar > tbody > tr > td
{
	border: 1px solid var(--cbg);
}


/**
 * Forms.
 */
.submission > form
{
	background-color: var(--bg);
	color: var(--primary);
	margin: 0 0 1.5em;
	width: 500px;
}

.submission > form em
{
	background-color: inherit;
	color: var(--red);
	font-style: normal;
	font-weight: bold;
}

.submission > form > p
{
	margin: 10px 0;
}

.submission > form > fieldset
{
	background-color: var(--hl);
	border: 1px solid var(--cbg);
	color: inherit;
	margin-bottom: 10px;
}

.submission > form > fieldset > legend
{
	background-color: transparent;
	color: var(--red);
	font-weight: bold;
	padding: 0 2px;
}

.submission > form > fieldset > ul
{
	margin: 0;
	padding: 0;
}

.submission > form > fieldset > ul > li
{
	list-style: none;
	margin: 0;
	padding: 5px 10px 7px;
}

.submission > form > fieldset > ul > li:not(:last-child)
{
	border-bottom: 1px solid var(--cbg);
}

.submission > form > fieldset > ul > li > label
{
	background-color: inherit;
	color: var(--primary);
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	width: 200px;
}
